#header{
  background-color: #C2E0FF;
  text-align: center;
}
#page{
  width:75%;
}

.left{
  width: calc(50% - 2px);
  height: 200px;
  border: solid black 1px;
  float: left;
}

#output{
  height: 97%;
  width: 99%;
  overflow:auto;
  overflow-y: auto;
}

.right{
  width: calc(50% - 2px);
  height: 200px;
  border: solid black 1px;
  float: left;
    position: relative;
}
.right > div{
  display:inline-block;
  float: left;
  padding-top: 5px;
  text-align: center;
  width: 50%;
  position: relative;
}
.right > input{
  margin-top: 5px;
  margin-bottom: 0px;
  display:inline-block;
  vertical-align:middle;
  margin-left:20px;
  width: 80%;
  position: relative;
}
.right > button{
  margin-top: 10px;
  margin-bottom: 5px;
  display:inline-block;
  vertical-align:middle;
  margin-left:20px;
  width: 50%;
  height: auto;
}

#footer{
  clear: both;
  background-color: #C2E0FF;
  text-align: center;
}
